button{
    background-color: rgb(255, 255, 255);
    border-color: rgb(235, 235, 235);
    border-radius: 0.2rem;

}

.auto{
 background-color: rgb(12, 211, 145);
 color: white;

}

.reset{
    background-color: brown;
    color: white;
}